@font-face {
  font-family: NotoMedium;
  src: url("/fonts/NotoSansGeorgian-Medium.ttf");
}

@font-face {
  font-family: NotoRegular;
  src: url("/fonts/NotoSansGeorgian-Regular.ttf");
}

@font-face {
  font-family: NotoSemiBold;
  src: url("/fonts/NotoSansGeorgian-SemiBold.ttf");
}

@font-face {
  font-family: NotoBold;
  src: url("/fonts/NotoSansGeorgian-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin-top: 150px;
  background: #ebf7ff;
}

@media (max-width: 1080px) {
  body {
    margin-top: 75px;
  }
}

.template-slider__modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.template-slider__modal.open {
  opacity: 1;
  visibility: visible;
}

.template-slider__modal__inner {
  width: 631px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 1080px) {
  .template-slider__modal__inner {
    width: 296px;
  }
}

.template-slider__modal__close {
  background: #9199b4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  position: absolute;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template-slider__modal__close .icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 1080px) {
  .template-slider__modal__close {
    width: 30px;
    height: 30px;
    top: 16px;
    right: 16px;
  }
}

.template-slider__modal__title {
  margin: 64px 0 0;
  font-size: 18px;
  line-height: 26px;
  color: #0e215e;
}

@media (max-width: 1080px) {
  .template-slider__modal__title {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
}

.template-slider__modal__actions {
  margin: 48px 0 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1080px) {
  .template-slider__modal__actions {
    margin: 32px 0;
    width: 100%;
    padding: 0 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.template-slider__modal__btn {
  width: 168px;
  height: 50px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: NotoSemiBold, sans-serif;
  font-size: 16px;
}

@media (max-width: 1080px) {
  .template-slider__modal__btn {
    font-size: 14px;
    height: 40px;
    width: calc(50% - 8px);
  }
}

.template-slider__modal__btn--yes {
  background: transparent;
  -webkit-box-shadow: 0px 10px 20px #0099ff1a;
          box-shadow: 0px 10px 20px #0099ff1a;
  border: 1px solid #b1b7ca;
  margin-right: 40px;
}

@media (max-width: 1080px) {
  .template-slider__modal__btn--yes {
    margin-right: 0;
  }
}

.template-slider__modal__btn--no {
  background: #ee2a7b;
  color: white;
}

.template-slider__container {
  width: 77%;
  background: white;
  border-radius: 8px;
  padding: 32px 0 72px 32px;
  position: relative;
  -webkit-box-shadow: 0px 10px 30px #0099ff0d;
          box-shadow: 0px 10px 30px #0099ff0d;
  margin: 0 auto;
}

@media (max-width: 1580px) {
  .template-slider__container {
    padding: 24px 0 56px 24px;
  }
}

@media (max-width: 1080px) {
  .template-slider__container {
    width: 100%;
    padding: 16px 0 48px 16px;
  }
}

.template-slider__container#noneed {
  margin-top: 38px;
  margin-bottom: 50px;
}

@media (max-width: 1180px) {
  .template-slider__container#noneed {
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .template-slider__container#noneed {
    margin-top: 12px;
  }
}

.template-slider {
  width: 100%;
  padding-bottom: 15px;
}

@media (max-width: 1080px) {
  .template-slider {
    padding-bottom: 0;
  }
}

.template-slider__title {
  font-family: NotoBold, sans-serif;
  font-weight: bold;
  color: #292562;
  font-size: 21px;
  line-height: 28px;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 33px;
}

@media (max-width: 1580px) {
  .template-slider__title {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 1080px) {
  .template-slider__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 23px;
    padding-bottom: 6px;
  }
}

.template-slider__title:after {
  content: "";
  width: 52px;
  height: 3px;
  background: #ee2a7b;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 6px;
}

@media (max-width: 1580px) {
  .template-slider__title:after {
    width: 40px;
  }
}

@media (max-width: 1080px) {
  .template-slider__title:after {
    width: 36px;
  }
}

.template-slider .right-overlay {
  position: absolute;
  width: 110px;
  height: calc(100% - 73px);
  right: 0;
  bottom: 0;
  z-index: 2;
  background: transparent -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%) 0% 0% no-repeat padding-box;
}

@media (max-width: 1580px) {
  .template-slider .right-overlay {
    width: 90px;
  }
}

@media (max-width: 1080px) {
  .template-slider .right-overlay {
    display: none;
  }
}

.template-slider__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template-slider__empty .icon {
  width: 66px;
  height: 66px;
}

@media (max-width: 1080px) {
  .template-slider__empty .icon {
    width: 45px;
    height: 45px;
  }
}

.template-slider__empty .icon img {
  width: 100%;
  height: 100%;
}

.template-slider__empty .text-block {
  text-align: center;
  margin-top: 24px;
}

@media (max-width: 1580px) {
  .template-slider__empty .text-block {
    margin-top: 20px;
  }
}

@media (max-width: 1080px) {
  .template-slider__empty .text-block {
    margin-top: 16px;
  }
}

.template-slider__empty .text-block__title {
  color: #292562;
  font-size: 18px;
  line-height: 30px;
  font-family: NotoSemiBold;
  margin-bottom: 12px;
}

@media (max-width: 1580px) {
  .template-slider__empty .text-block__title {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
  }
}

@media (max-width: 1080px) {
  .template-slider__empty .text-block__title {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 6px;
  }
}

.template-slider__empty .text-block__text {
  color: #9199b4;
  padding: 0 15%;
  font-size: 18px;
  line-height: 30px;
  font-family: NotoSemiBold;
}

@media (max-width: 1580px) {
  .template-slider__empty .text-block__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1080px) {
  .template-slider__empty .text-block__text {
    font-size: 14px;
    line-height: 20px;
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  .template-slider__empty .text-block__text {
    padding: 0 16px;
  }
}

.template-slide {
  width: 383px;
  height: 403px;
  border-radius: 8px;
  background: white;
  border: 1px solid #d5dde9;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 8px 15px rgba(41, 37, 98, 0.05);
          box-shadow: 0px 8px 15px rgba(41, 37, 98, 0.05);
  position: relative;
}

@media (max-width: 1580px) {
  .template-slide {
    width: 340px;
    height: 375px;
    margin-right: 20px;
  }
}

@media (max-width: 1080px) {
  .template-slide {
    margin-right: 16px;
    width: 312px;
    height: 345px;
  }
}

.template-slide:after {
  content: "";
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#ffffff00), color-stop(51%, #ffffffaf), color-stop(81%, #fffffff8), to(#ffffff)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #ffffff00 0%, #ffffffaf 51%, #fffffff8 81%, #ffffff 100%) 0% 0% no-repeat padding-box;
  height: 86px;
  width: 100%;
  position: absolute;
  bottom: 72px;
  left: 0;
}

@media (max-width: 1580px) {
  .template-slide:after {
    bottom: 64px;
  }
}

@media (max-width: 1080px) {
  .template-slide:after {
    bottom: 56px;
  }
}

.template-slide__header {
  padding: 20px 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: rgba(45, 46, 224, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1080px) {
  .template-slide__header {
    padding: 16px;
  }
}

.template-slide__header .icon {
  margin-right: 12px;
}

@media (max-width: 1580px) {
  .template-slide__header .icon {
    margin-right: 9px;
  }
}

@media (max-width: 1080px) {
  .template-slide__header .icon {
    margin-right: 7px;
  }
}

.template-slide__header .wrap {
  font-size: 16px;
  line-height: 22px;
  color: #292562;
}

@media (max-width: 1580px) {
  .template-slide__header .wrap {
    font-size: 14px;
    line-height: 22px;
  }
}

.template-slide__header__title {
  font-family: NotoBold, sans-serif;
}

.template-slide__header__date {
  font-family: NotoRegular, sans-serif;
  margin-bottom: 0;
}

.template-slide__content {
  color: #9199b4;
  font-size: 16px;
  line-height: 22px;
  padding: 18px 24px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  overflow: auto;
  font-family: NotoMedium, sans-serif;
}

.template-slide__content::-webkit-scrollbar {
  width: 4px;
}

.template-slide__content.hidden::-webkit-scrollbar {
  width: 0;
}

.template-slide__content::-webkit-scrollbar-thumb {
  background: #9199b4;
}

.template-slide__content::-webkit-scrollbar-thumb:hover {
  background: #606577;
}

@media (max-width: 1580px) {
  .template-slide__content {
    font-size: 14px;
    padding: 16px;
  }
}

@media (max-width: 1080px) {
  .template-slide__content {
    padding: 12px 16px 0;
  }
}

.template-slide__content__name {
  margin-bottom: 2px;
}

.template-slide__content__policy {
  color: #9199b4;
}

.template-slide__content__list {
  list-style: none;
  margin-top: 20px;
  position: relative;
  padding-bottom: 70px;
}

@media (max-width: 1580px) {
  .template-slide__content__list {
    margin-top: 12px;
  }
}

.template-slide__content__list .list-item {
  position: relative;
  color: #292562;
  padding-left: 14px;
  margin-bottom: 4px;
}

.template-slide__content__list .list-item:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #9199b4;
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 7px;
}

.template-slide__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 32px 32px;
}

@media (max-width: 1580px) {
  .template-slide__actions {
    padding: 0 24px 24px;
  }
}

@media (max-width: 1080px) {
  .template-slide__actions {
    padding: 0 16px 16px;
  }
}

.template-slide__actions__remove {
  width: 45px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 10px 20px #0099ff1a;
          box-shadow: 0px 10px 20px #0099ff1a;
  border: 1px solid #b1b7ca;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .template-slide__actions__remove {
    width: 44px;
  }
}

.template-slide__actions__remove .icon {
  width: 19px;
  height: 20px;
}

@media (max-width: 1580px) {
  .template-slide__actions__remove .icon {
    width: 17px;
    height: 19px;
  }
}

.template-slide__actions__request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background: #ee2a7b;
  border-radius: 8px;
  width: 250px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
  font-family: NotoSemiBold, sans-serif;
  font-size: 15px;
}

@media (max-width: 1580px) {
  .template-slide__actions__request {
    width: 230px;
  }
}

@media (max-width: 1080px) {
  .template-slide__actions__request {
    font-size: 14px;
    width: 220px;
  }
}

.template-slide__arrow {
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 10px 30px #0099ff1a;
          box-shadow: 0px 10px 30px #0099ff1a;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .template-slide__arrow {
    display: none;
  }
}

.template-slide__arrow:hover {
  background: #ee2a7b;
}

.template-slide__arrow:hover .icon {
  stroke: white;
}

.template-slide__arrow .icon {
  width: 14px;
  height: 24px;
  stroke: #ee2a7b;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.template-slide__arrow.template-slider--prev {
  left: -30px;
}

.template-slide__arrow.template-slider--prev .icon {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.template-slide__arrow.template-slider--next {
  right: -30px;
}

.template-slide__arrow.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.swiper-pagination-bullet {
  background: #9199b4;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ee2a7b;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 32px;
}

@media (max-width: 1080px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 24px;
  }
}

.template-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  padding: 40px 72px;
  -webkit-box-shadow: 0px 10px 30px #0099ff12;
          box-shadow: 0px 10px 30px #0099ff12;
  border-radius: 8px;
  width: 77%;
  margin: 38px auto 0;
}

@media (max-width: 1580px) {
  .template-request {
    padding: 30px;
  }
}

@media (max-width: 1080px) {
  .template-request {
    margin: 24px auto 0;
    padding: 24px 16px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .template-request {
    margin: 12px auto 0;
  }
}

.template-request .icon {
  margin: 0 45px 0 0;
}

@media (max-width: 1580px) {
  .template-request .icon {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 1080px) {
  .template-request .icon {
    margin: 0 0 20px 0;
  }
}

.template-request__text {
  font-family: NotoSemiBold;
  font-size: 18px;
  line-height: 30px;
  color: #292562;
  margin-right: 130px;
}

@media (max-width: 1580px) {
  .template-request__text {
    margin-right: 16px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 1080px) {
  .template-request__text {
    font-size: 14px;
    line-height: 22px;
    margin-right: 0;
    margin-bottom: 24px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .template-request__text {
    margin-right: 0;
  }
}

.template-request__text a {
  color: #ee2a7b;
  text-decoration: none;
}

.template-request__btn {
  padding: 16px 46px;
  background: #ee2a7b;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  font-family: NotoSemiBold;
}

@media (max-width: 1080px) {
  .template-request__btn {
    padding: 11px 41px;
  }
}
/*# sourceMappingURL=style.css.map */