@font-face {
  font-family: NotoMedium;
  src: url("/fonts/NotoSansGeorgian-Medium.ttf");
}

@font-face {
  font-family: NotoRegular;
  src: url("/fonts/NotoSansGeorgian-Regular.ttf");
}

@font-face {
  font-family: NotoSemiBold;
  src: url("/fonts/NotoSansGeorgian-SemiBold.ttf");
}

@font-face {
  font-family: NotoBold;
  src: url("/fonts/NotoSansGeorgian-Bold.ttf");
}

$notoSemiBold: NotoSemiBold;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:after,
  &:before {
    box-sizing: border-box;
  }
}
body {
  margin-top: 150px;
  background: #ebf7ff;
  @media (max-width: 1080px) {
    margin-top: 75px;
  }
}
.template-slider__modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &__inner {
    width: 631px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__close {
    background: #9199b4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      width: 20px;
      height: 20px;
    }
  }
  &__title {
    margin: 64px 0 0;
    font-size: 18px;
    line-height: 26px;
    color: #0e215e;
  }
  &__actions {
    margin: 48px 0 64px;
    display: flex;
  }
  &__btn {
    width: 168px;
    height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: $notoSemiBold;
    font-size: 16px;
    &--yes {
      background: transparent;
      box-shadow: 0px 10px 20px #0099ff1a;
      border: 1px solid #b1b7ca;
      margin-right: 40px;
    }
    &--no {
      background: #ee2a7b;
      color: white;
    }
  }
}
.template-slider__container {
  width: 77%;
  background: white;
  border-radius: 8px;
  padding: 32px 0 72px 32px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 10px 30px #0099ff0d;
  @media (max-width: 1580px) {
    padding: 24px 0 56px 24px;
  }
  @media (max-width: 1080px) {
    width: 100%;
    padding: 16px 0 48px 16px;
  }
}
.template-slider {
  width: 100%;
  padding-bottom: 15px;
  &__title {
    font-family: NotoBold, sans-serif;
    font-weight: bold;
    color: #292562;
    font-size: 21px;
    line-height: 28px;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 33px;
    @media (max-width: 1580px) {
      font-size: 18px;
      line-height: 24px;
    }
    @media (max-width: 1080px) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 23px;
      padding-bottom: 6px;
    }
    &:after {
      content: "";
      width: 52px;
      height: 3px;
      background: #ee2a7b;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 6px;
      @media (max-width: 1580px) {
        width: 40px;
      }
      @media (max-width: 1080px) {
        width: 36px;
      }
    }
  }
  .right-overlay {
    position: absolute;
    width: 110px;
    height: calc(100% - 73px);
    right: 0;
    bottom: 0;
    z-index: 2;
    background: transparent
      linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      )
      0% 0% no-repeat padding-box;
    @media (max-width: 1580px) {
      width: 90px;
    }
    @media (max-width: 1080px) {
      display: none;
    }
  }
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      width: 66px;
      height: 66px;
      @media (max-width: 1080px) {
        width: 45px;
        height: 45px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .text-block {
      text-align: center;
      margin-top: 24px;
      @media (max-width: 1580px) {
        margin-top: 20px;
      }
      @media (max-width: 1080px) {
        margin-top: 16px;
      }
      &__title {
        color: #292562;
        font-size: 18px;
        line-height: 30px;
        font-family: $notoSemiBold;
        margin-bottom: 12px;
        @media (max-width: 1580px) {
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 8px;
        }
        @media (max-width: 1080px) {
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 6px;
        }
      }
      &__text {
        color: #9199b4;
        padding: 0 15%;
        font-size: 18px;
        line-height: 30px;
        font-family: $notoSemiBold;
        @media (max-width: 1580px) {
          font-size: 16px;
          line-height: 24px;
        }
        @media (max-width: 1080px) {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}
.template-slide {
  width: 383px;
  height: 403px;
  border-radius: 8px;
  background: white;
  border: 1px solid #d5dde9;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 15px rgba(41, 37, 98, 0.05);
  @media (max-width: 1580px) {
    width: 340px;
    height: 375px;
    margin-right: 20px;
  }
  @media (max-width: 1080px) {
    margin-right: 16px;
    width: 312px;
    height: 345px;
  }
  &__header {
    padding: 20px 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgba(45, 46, 224, 0.03);
    display: flex;
    align-items: center;
    @media (max-width: 1080px) {
      padding: 16px;
    }
    .icon {
      margin-right: 12px;
      @media (max-width: 1580px) {
        margin-right: 9px;
      }
      @media (max-width: 1080px) {
        margin-right: 7px;
      }
    }
    .wrap {
      font-size: 16px;
      line-height: 22px;
      color: #292562;
      @media (max-width: 1580px) {
        font-size: 14px;
        line-height: 22px;
      }
    }
    &__title {
      font-family: NotoBold, sans-serif;
    }
    &__date {
      font-family: NotoRegular, sans-serif;
      margin-bottom: 0;
    }
  }
  &__content {
    color: #9199b4;
    font-size: 16px;
    line-height: 22px;
    padding: 18px 24px 0;
    flex: 1 0 0;
    overflow: auto;
    font-family: NotoMedium, sans-serif;
    @media (max-width: 1580px) {
      font-size: 14px;
      padding: 16px;
    }
    @media (max-width: 1080px) {
      padding: 12px 16px 0;
    }
    &__name {
      margin-bottom: 2px;
    }
    &__policy {
      color: #9199b4;
    }
    &__list {
      list-style: none;
      margin-top: 20px;
      position: relative;
      padding-bottom: 10px;
      @media (max-width: 1580px) {
        margin-top: 12px;
        padding-bottom: 10px;
      }
      &:after {
        content: "";
        background: transparent
          linear-gradient(
            180deg,
            #ffffff00 0%,
            #ffffffaf 51%,
            #fffffff8 81%,
            #ffffff 100%
          )
          0% 0% no-repeat padding-box;
        height: 86px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .list-item {
        position: relative;
        color: #292562;
        padding-left: 14px;
        margin-bottom: 4px;
        &:before {
          content: "";
          width: 6px;
          height: 6px;
          background: #9199b4;
          border-radius: 50%;
          left: 0;
          position: absolute;
          top: 7px;
        }
      }
    }
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    padding: 0 32px 32px;
    @media (max-width: 1580px) {
      padding: 0 24px 24px;
    }
    @media (max-width: 1080px) {
      padding: 0 16px 16px;
    }
    &__remove {
      width: 45px;
      height: 40px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 10px 20px #0099ff1a;
      border: 1px solid #b1b7ca;
      border-radius: 8px;
      cursor: pointer;
      @media (max-width: 1080px) {
        width: 44px;
      }
      .icon {
        width: 19px;
        height: 20px;
        @media (max-width: 1580px) {
          width: 17px;
          height: 19px;
        }
      }
    }
    &__request {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background: #ee2a7b;
      border-radius: 8px;
      width: 250px;
      height: 40px;
      text-decoration: none;
      cursor: pointer;
      font-family: NotoSemiBold, sans-serif;
      font-size: 15px;
      @media (max-width: 1580px) {
        width: 230px;
      }
      @media (max-width: 1080px) {
        font-size: 14px;
        width: 220px;
      }
    }
  }
  &__arrow {
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 30px #0099ff1a;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    @media (max-width: 1080px) {
      display: none;
    }
    &:hover {
      background: #ee2a7b;
      .icon {
        stroke: white;
      }
    }
    .icon {
      width: 14px;
      height: 24px;
      stroke: #ee2a7b;
      transition: 0.3s ease-in-out;
    }
    &.template-slider--prev {
      left: -30px;
      .icon {
        transform: rotate(-180deg);
      }
    }
    &.template-slider--next {
      right: -30px;
    }
    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }
}
.swiper-pagination-bullet {
  background: #9199b4;
  &.swiper-pagination-bullet-active {
    background: #ee2a7b;
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 32px;
  @media (max-width: 1080px) {
    bottom: 24px;
  }
}

.template-request {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 40px 72px;
  box-shadow: 0px 10px 30px #0099ff12;
  border-radius: 8px;
  width: 77%;
  margin: 38px auto 0;
  @media (max-width: 1580px) {
    padding: 30px;
  }
  @media (max-width: 1080px) {
    padding: 24px 16px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon {
    margin: 0 45px 0 0;
    @media (max-width: 1580px) {
      margin: 0 20px 0 0;
    }
    @media (max-width: 1080px) {
      margin: 0 0 20px 0;
    }
  }
  &__text {
    font-family: $notoSemiBold;
    font-size: 18px;
    line-height: 30px;
    color: #292562;
    margin-right: 130px;
    @media (max-width: 1580px) {
      margin-right: 16px;
      font-size: 16px;
      line-height: 26px;
    }
    @media (max-width: 1080px) {
      font-size: 14px;
      line-height: 22px;
      margin-right: 0;
      margin-bottom: 24px;
      text-align: center;
    }
    @media (max-width: 768px) {
      margin-right: 0;
    }
    a {
      color: #ee2a7b;
      text-decoration: none;
    }
  }
  &__btn {
    padding: 16px 46px;
    background: #ee2a7b;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    font-family: $notoSemiBold;
    @media (max-width: 1080px) {
      padding: 11px 41px;
    }
  }
}
